# Configuración de Base de Datos
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=smartops_attendance

# Configuración de Backend
DATABASE_URL=postgresql://postgres:your_secure_password@attendance-db:5432/smartops_attendance
JWT_SECRET_KEY=your_jwt_secret_key

# Puertos (Ver secrets.md para los puertos de producción)
BACKEND_PORT=8100
FRONTEND_PORT=3100
DB_PORT=5436
